<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
<body>
  <div class="conteiner">
    <nav>
      <ul class="menu">
        <a href="/cadastro/criar">
          <li>
            Cadastro
          </li>
        </a>
        <a href="/consulta/lista">
          <li>
            Lista
          </li>
        </a>
      </ul>
    </nav>
    <section class='consulta'>
      <h1>Lista de Cadastros</h1>
      <hr><br><br>

      <form action="" method="get">
        Filtrar por profissao:<input type="text" name="filtro" class="campo" required autofocus>
        <input type="submit" value="pesquisar" class="botao">
      </form>

    <article>
      <ul class="lista">
        <% listaCadastro.forEach(cadastro => { %>
          <li class=""><%= cadastro.nome %> <br><%= cadastro.email %> <br> <%= cadastro.profissao %></li><br>
          <!-- <form action="/consulta/deletar/<%= cadastro.id %>?_method=DELETE" method="post">
            <button type="submit">deletar</button>
          </form> -->
        <% }) %>
      </ul>

    </article>


    </section><br>
  </div>
</body>
</html>
